.Rproj.user
.Rhistory
.RData
*.pdf
big-data
wrdtc-handout.docx
npidata
*cache*
book.Rmd
book.aux
book.idx
book.log
book.out
book.tex
book.toc
.#book.tex
ignore_*
course_*.html
v59i10-data.zip
data/reshape
data/bn19figs.xlsx
largefile
gini_Indicator_en_csv_v2.zip
data/ghg-ems.*
data/npidata*
data/largefile.zip
